body {
    max-width: 100% ; 
    display: block;
    margin: 0;
    height: 100%;
}

div#home {
    background-color: beige;
    color: white;
  
}

div#header {
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color:black;
    margin: none;
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  

}

div a {
    color: white;
    text-decoration: none;
}

div a:hover {   /* Atributo  hover: Muda a cor quando o mouse passa por cima.*/
    color:white;
    text-decoration: underline;
    text-decoration-color: white;
    cursor: pointer;

}

div#banner {
    height: 600px;
    margin-top: -40px;
    background-image: url("./imgrestaurant/restaurant1.jpg");
    background-repeat: no-repeat;
    background-size:100%;
	
}
div#transparente {
    background-color: black;
    opacity: 0.5; 
    justify-content: center;
    height: 600px;
}

p#textBanner1 {
    text-align:center;
    font-size: 30px;
    font-weight: 100;
    align-items: center;
    font-family: 'Times New Roman', Times, sans-serif;
    color: #FFF;
    text-decoration: none;
    /*text-shadow: 2px 2px 8px #111;  sombra do texto*/ 
}
p#textBanner2 {
    text-align:center;
    font-size: 15px;
    font-weight: 100;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;

}

div#sobre {
    height: 600px;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

p#historia1 {
    text-align:center;
    font-size: 30px;
    font-weight: 180;
    align-items: center;
    font-family: 'Times New Roman', Times, sans-serif;
    color:black;
}
p#historia2 {
    text-align:center;
    font-size: 20px;
    font-weight: 140;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
p#historia3 {
    text-align: center;
    justify-content: center;
    width: 350px;
    margin-left: 38%;
    font-size: 22px;
    line-height: 1.5;
}

img#foto1 {
    height: 300px;
    position: absolute;
    left: 1000px;
    margin-top: -230px; 

}


div#galeria {
    
    background-color: black;
       
}

p#galeriaText {
    text-align:center;
    font-size: 30px;
    font-weight: 180;
    font-family: 'Times New Roman', Times, sans-serif;
    color:white;
}

div#fotosGaleria {
    justify-content: space-between;
    margin: 10px;
}

img#imgGaleria {
    width: 440px;
    height: 350px;
  
}

div#footer {
    height: 130px;
    background-color: white;  
}

p#textfooter {
    text-align:center;
    font-size: 40px;
    font-weight: 90;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-decoration: underline;
}

div#infoContatos {
    text-align:center;
    font-size: 20px;
    font-weight: 30;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
